body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #18af3e;
  }
  
  #quiz-container {
    background-color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-container {
    margin-top: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
  }
  